.button-i1312288751-l5bxXw {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-1NX8tw {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x13122887 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.x13122926.x13122887 {
  position: relative;
}
.x13122965.x13122887 {
  position: relative;
}
.x13123004.x13122887 {
  position: relative;
}
