.button-i1312287551-JP7kQ1 {
  color: #cd424a;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-yu6mvD {
  border-radius: 8px;
  height: 40px;
  opacity: 1;
  position: relative;
}
.x13122875 {
  height: 40px;
  left: 118px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 7952px;
  width: 140px;
}
